<?xml version="1.0"?>
<!--
/**
* Bemaged_NoFax
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* http://opensource.org/licenses/OSL-3.0
*
* @package      Bemaged_NoFax
* @copyright    Copyright (c) 2014 Matthijs IJsseldijk (http://www.zelfeenwebwinkelstarten.nl)
* @author       Matthijs IJsseldijk <info@zelfeenwebwinkelstarten.nl>
* @license      http://opensource.org/licenses/OSL-3.0 Open Software License (OSL 3.0)
*/
-->
<config>
    <sections>
        <customer>
            <groups>
                <address>
                    <fields>
                        <fax_show translate="label comment" module="nofax">
                            <label>Show Fax</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Display Fax Input Field for Billing and Shipping Address</comment>
                            <backend_model>adminhtml/system_config_backend_customer_show_address</backend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </fax_show>
                    </fields>
                </address>
            </groups>
        </customer>
    </sections>
</config>